/*
==========================================================================
Base styles: opinionated defaults
========================================================================== 
*/

body
{
  background-color: white;
  color: #000000;
  font-size: 14px;
  font-family: Arial;
}